doctype html
html(lang='ru')
  head
    style.
      body {
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;
        height:100%;
        font-family:OpenSans, sans-serif;
      }

      h1 {
        font-size:32px;
        font-weight: 300;
      }
    title Активация аккаунта
  body
    h1 Аккаунт #{email} #{success ? 'успешно активирован, можете закрыть сраницу' : 'не найден, проверьте правильность ссылки'}