doctype html
html(lang='ru')
  head
    title(style="font-size:22px") Активация аккаунта
  body
    p(style="font-size:18px;") Регистрация прошла успешно, для активации аккаунта перейдите по 
      a(href=link,style="text-decoration:none") ссылке