doctype html
html(lang='ru')
  head
    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100%;
        font-family: OpenSans, sans-serif;
      }

      h1 {
        font-size: 32px;
        font-weight: 300;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      form {
        input {
          margin: 10px 0;
          padding: 10px;
          border: 1px solid #000000;
          border-radius: 5px;
          font-size: 16px;
        }

        button {
          margin-top: 20px;
          padding: 10px;
          border: 1px solid #000000;
          background-color: #000000;
          color: #ffffff;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
        }
      }

    
    script.
      const resetPassword = async (ev)  => {
        ev.preventDefault();

        const password = document.getElementById('password').value;
        const passwordConfirm = document.getElementById('passwordConfirm').value;
        const token = window.location.search.split('=')[1]

        console.log(password, passwordConfirm);

        if (password !== passwordConfirm) {
          alert('Пароли не совпадают');
          return;
        }

        const response = await fetch('/auth/password/reset', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ token, password, passwordConfirm }),
        });

        if (response.status === 200) {
          alert('Пароль успешно изменен');
        } else {
          alert('Ошибка при изменении пароля');
        }
      }

    title Сброс пароля
  body
    div
      h1 Придумайте новый пароль

      form(onsubmit="resetPassword(event)") 
        input(id="password", type="password", placeholder="Пароль", autocomplete="new-password")
        input(id="passwordConfirm", type="password", placeholder="Повторите пароль", autocomplete="new-password")
        button(type="submit") Сбросить пароль
